.head_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.head_div {
  display: flex;
  width: 1700px;
  height: 160px;
  border: 10px #fff solid;
  border-radius: 15px;
}

.head_div p {
  margin: auto;
  font-family: 'Pacifico-Regular' !important;
  font-size: 3em;
}

.left_hr {
  margin-top: 0;
  height: 100%;
  width: 10px;
  background-color: #fff;
  border: 0;
}

.right_hr {
  margin-top: 0;
  height: 100%;
  width: 10px;
  background-color: #fff;
  border: 0;
}

.user_hr {
  height: 100%;
  width: 10px;
  background-color: #fff;
  border: 0;
}

.head_content .container {
  margin: 5px;
}

.content_user {
  display: flex;
  flex-direction: row;
}

.user_bar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 20%;
  margin: 15px;
  padding: 0
}

.user_bar input {
  width: 100%;
  height: 20px;
  box-sizing:content-box;
  background-color: #191919;
  border: 10px #fff solid;
  border-radius: 25px;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  color: #fff;
}
.gutter-sizer {
  width: 1%;
}

.container {
  width: 80%;
  height: 787px;
}
.container:hover .item {
  opacity: 0.30;
}

.item, .item-sizer {
  width: 19%;
  margin-bottom: 10px;
  box-sizing: border-box;
  float: left;
  transition: all .8s;
}

.container .item img {
  border: 8px #fff solid;
  border-radius: 15px;
  max-width: 100%;
  display: block;
}

.container .item .title {
  position: absolute;
  font-family: 'Offside-Regular';
  font-style: normal;
  font-size: 1.5em;
  top: 0;
  width: 100%;
  padding: 0 0;
  background-color: #fff;
  color: #191919;
  border-radius: 15px 15px 0 0;
}
.container .item:hover {
  opacity: 1;
}
